<a href="https://colab.research.google.com/github/seohyeonb/git/blob/main/%EA%B0%84%EA%B2%A9%EB%9D%84%EC%9A%B0%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('"때론 내 삶의 변화를 위해 \'내어 맡김\'이 필요하다"')

"때론 내 삶의 변화를 위해 '내어 맡김'이 필요하다"

In [ ]:
print('11\t홍길동\n123\t일지매')

11	홍길동
123	일지매

In [ ]:
print('동해물과 백두산이 마르고 닳도록 \
하느님이 보우하사 우리나라 만세')

동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세

In [ ]:
msg='안녕하세요'
print(msg[0:4])
print(msg[:-1])

안녕하세
안녕하세

In [ ]:
res=2*2
print(2 +res)

6

In [ ]:


def divide_name(name):
  firstname=name[0]
  lastname=name[1:]
  print('-'*12)
  print('성:\t'+firstname)
  print('이름:\t'+lastname)
  print('-'*12)

n=(input('당신의 이름은?'))
divide_name(n)

당신의 이름은?박서현
------------
성:	박
이름:	서현
------------

In [ ]:
n1=int(input('첫번째 정수는? '))
n2=int(input('두번째 정수는? '))


avg=n1/n2

print(f'{n1}/{n2}={avg}')

첫번째 정수는? 1000
두번째 정수는? 8
1000/8=125.0

In [ ]:
num=15
print(f'[{num:d}]')
print(f'[{num:5d}]')
print(f'[{num:<10d}]')
print(f'[{num:^10d}]')

[15]
[   15]
[15        ]
[    15    ]

In [ ]:
pi=3.14159265

print(f'[{pi:f}]')
print(f'[{pi:3f}]')
print(f'[{pi:05f}]')

[3.141593]
[3.141593]
[3.141593]

In [ ]:
text='python'
print('t' in text)
print('p' not in text)

True
False

In [ ]:
num=input('정수를 입력하세요')
length=len(num)
print(f'입력하신 {num}은 {length}자리 정수입니다')

정수를 입력하세요1112
입력하신 1112은 4자리 정수입니다

In [ ]:
week='월화수목금금금금금요일'

pos=week.find('금',5)
print(pos)

5

In [ ]:
def introduce(name,grade):
  lastname=name[1:]
  nextgrade=grade+1
  return f'{lastname}은 내년에 {nextgrade}학년입니다'

n=(input('이름은?'))
g=int(input('학년은?'))
msg=introduce(n,g)
print(msg)

이름은?박보검
학년은?2
보검은 내년에 3학년입니다

In [9]:
def rep_char (c,n):
  print(c*n)

def draw_line_string(name):
  msg1='Hello '+name+','
  msg2='Welcome to Seoul.'
  nstr= len(msg1) if (len(msg1) > len(msg2)) else len(msg2)
  rep_char('-',nstr+2)
  print(f' {msg1} ')
  print(f' {msg2} ')
  rep_char('-',nstr+2)

n=input('이름 입력하세요')
draw_line_string(n)

이름 입력하세요ss
-------------------
 Hello ss,
 Welcome to Seoul.
-------------------