<a href="https://colab.research.google.com/github/seohyeonb/git/blob/main/%EB%B3%84%EC%B0%8D%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,10,2):
  print(' '*((9-i)//2),'*'*i,' '*((9-i)//2))
for i in range(7,0,-2):
  print(' '*((9-i)//2),'*'*i,' '*((9-i)//2))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
for i in range(1,6):
  print(' '*(5-i),'*'*i)

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(1,6):
  print('*'*5)

*****
*****
*****
*****
*****

In [ ]:
for i in range(5):
	print('*',end='')

*****

In [ ]:
x=int(input('정수x를 입력하세요'))
y=int(input('정수y를 입력하세요'))

if x>0 and y>0:
  print('1사분면입니다')
if x>0 and y>0:
  print('1사분면입니다')
if x>0 and y>0:
  print('1사분면입니다')

if x>0 and y>0:
  print('1사분면입니다')

In [ ]:
for i in range(2,101,2):
  print(i)

In [ ]:
def display_triangle(height):
    for i in range(1,height+1):
        display_num(' ',height+1)
        display_num(ch,1)
        print()
def display_num(ch,n):
    for i in range(1,n+1):
        print(1,end=' ')
h=int(input('높이?'))
display_triangle(h)